/* outalabs style v1 */

/* tipografia */
.title>h2 {
    font-family: 'press start 2P', sans-serif;
}

/* Botones  */

.btn_primario {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.5s opacity;
    transition: 0.2s opacity;
    background: #4172d6;
    color: #FFF;
}

.btn_primario:hover {
    background: #F69A05;
    color: #FFF;
    opacity: 0.8;
}

/******************** -- Dots de Testimonial -- **********************/

.owl-theme .owl-dots .owl-dot:hover span {
    background: #F69A05;
}
.owl-theme .owl-dots .owl-dot.active span {
	  background: #F69A05;
	  width:20px;
}

/*************************** Nuestros Servicios ****************************/

.service:hover h3 {
    color: #F69A05;

}

.service i {
    position: absolute;
    left: 20px;
    text-align: center;
    font-size: 32px;
    color: #F69A05;
    border-radius: 50%;
}

.title:after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 40px;
    background-color: #F69A05;
    margin-top: 5px;
}


/**************************** Nuestro equipo ***************************/
.service:hover i {
    position: absolute;
    left: 20px;
    text-align: center;
    font-size: 32px;
    color: #FFF;
    border-radius: 50%;
}

.team .overlay {
    background: rgba(254, 231, 138, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.cargo {
    color: #F69A05;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.2s color;
}

.cargo:hover {
    color: #fFF;
}

.team:hover .team-content h6 {
    color: #FFF;
}

.team-content>h6 {
    color: black;
}

.team .team-social a {
    display: block;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: #F69A05;
    color: #FFF;
}

.md-padding-team {
    padding-top: 120px;
    padding-bottom: 0px;
}
/*****************************  Contacto *****************************/
.md-padding {
    padding-top: 100px;
    padding-bottom: 120px;
}

#contact {
    background: #F4F4F4;
}
.contact {
    margin: 1px 0px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: #F69A05;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form .input {
    background:#1C1D21;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 40px;
    border: none;
    border-bottom: 2px solid #EEE;
    color: #fff;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}
/****************************** Blog ********************************/
.blog .blog-meta li i {
    color: #F69A05;
    margin-right: 5px;
}

/************************ Footer Social ******************************/
.footer-logo>a>img {
    max-height: 100px;
}

.footer-follow li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #F69A05;
    color: #FFF;
}

/************************ Footer  **************************/

/******************* Footer Flecha ***********************/
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: transparent;
    border-radius: 3px;
    color: #FFF;
    z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    cursor: pointer;
}

#back-to-top:after {
    content: none;
}

/****************************** Preloader *****************************/

.preloader span {
    display: inline-block;
    background-color: #F69A05;
    width: 25px;
    height: 25px;
    -webkit-animation: 1s preload ease-in-out infinite;
            animation: preload 1s ease-in-out infinite;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border-radius:50%;
}