/* xs a md */
@media screen and (max-width: 992.9px) {

}

/* lg a xl */
@media (min-width: 993px) { 

}


/* Escritorio */

@media (min-width: 1281px) {
  
}

/* Notebooks y escritorios */

@media (min-width: 1025px) and (max-width: 1280px) {
    h3{
        font-size: 18px;
    }
}

/* Tablets y ipad */

@media (min-width: 768px) and (max-width: 1024px) {
    h3{
        font-size: 18px;
    }
}

/* Tables y ipad en landscape */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* Tablets y ipad */

@media (min-width: 768px) and (max-width: 992.9px) {


}


/* sm  */
@media (min-width: 576px) and (max-width: 767.98px) { 

}


/* Tablets pequeñas bajo xs  */

@media (min-width: 481px) and (max-width: 575px) {
    .team .team-social a {
        line-height: 40px;
        width: 40px;
    }
}

/* Celulares */

@media (min-width: 348px) and (max-width: 480px) {
    .team .team-social a {
        line-height: 35px;
        width: 35px;
    }
    h2 {
        font-size: 23px;
    }
    h3{
        font-size: 13px;
    }
    h6{
        font-size: 10px;
    }
    .cargo{
        font-size: 10px;
    }
}


/* tamaño especial */

/* Iphone5/SE */
@media (min-width: 320px)  and (max-width:348px) {
    h2 {
        font-size: 23px;
    }
    h3 {
        display: none;
    }
    h6{
        display: none;
    }
    .cargo {
        font-size: 10px;
    }
    .team .team-social a {
        line-height: 30px;
        width: 30px;
    }
}